---
title: Silhouette | Home
---
{% extends "base.njk" %}

{% block main %}
<section class="introduction">
  <h1>Introduction</h1>
  <p>Welcome! Here is <span class="text-primary bold">TheSilhouette's</span> home.
  What is TheSilhouette you ask? It is just a name that I like to use on the
  Internet.
  <p>
    This site stores my writings, rants and miscellaneous pages. Always take
    anything in this site with a grain of salt.
  </p>
</section>
<section class="featured">
  <h1>Featured</h1>
  <p>The essence of my blog.</p>
  <ul>
    {% for post in search.pages("featured=true", "date=desc") %} {{ comp.entry({ post: post }) | safe }}
    {% endfor %}
  </ul>
</section>
<section class="tags">
  <h1>Tags</h1>
  <p>
    Filter by tags.
  </p>
{% include "tags.njk" %}
</section>
<section class="latest">
  <h1>Latest Posts</h1>
  <p>This shows my latest fifteen posts.</p>
  <div class="posts">
    <ul>
      {% for post in search.pages("isPost=true", "date=desc", 15) %} {{ comp.entry({ post: post }) | safe }}
      {% endfor %}
    </ul>
  </div>
  <a href="/all">Read All Posts</a>
  </body>
</section>
{% endblock %}