<footer>
  <p>
    Do you know that this site is built by
    <a href="https://gohugo.io/">Hugo</a>
    a fantastic static site generator? The source of this site is located in
    <a href="https://github.com/thesilhouettes/thesilhouette.github.io">here</a>
  </p>
</footer>
