{% extends "base.njk" %}

{% block main %}
  <main>
    <h1>{{ title }}</h1>
    <div class="post">
      {{ content | safe }}
    </div>
  </main>
  <section class="nav">
    <a href="/">Go Back Home</a>
    <h2>Other Tags</h2>
    {% include "tags.njk" %}
  </secion>
{% endblock %}